mixin sRegistration(data)
	// start sRegistration
	+b.SECTION.sRegistration.section#sRegistration&attributes(attributes)
		.container
			.badge.badge-primary 
				+iconC('check')
				| Регистрация прошла успешно. На&nbsp;вашу электронную почту отправленно письмо с&nbsp;ссылкой на&nbsp;активацию аккаунта
			+e.row.row
				.col-lg
					+e.wrap
						h6 Основные условия заказа:
						ul
							li Мы&nbsp;работаем исключительно с&nbsp;детскими оптовыми, розничными и&nbsp;интернет-магазинами на&nbsp;условиях соблюдения РРЦ рекомендованной розничной цены с&nbsp;минимальным уровнем наценки&nbsp;70% и&nbsp;НЕ сотрудничаем с&nbsp;организаторами совместных закупок. Просьба указывать при заказе адрес магазина либо предоставлять ссылку на&nbsp;интернет-магазин.
							li Минимальная сумма закупки 50000&nbsp;рублей.
							li Скидки от&nbsp;объема приведены в&nbsp;прайс-листе.
						.badge.badge-primary 
							+iconC('attention')
							| Мы&nbsp;осуществим доставку детской верхней одежды ТМ&nbsp;UKI KIDS в&nbsp;Москву и&nbsp;Московскую область , а&nbsp;также в&nbsp;регионы&nbsp;РФ любой транспортной компанией по&nbsp;вашему выбор или ж/д транспортом. Доставка до&nbsp;ТК бесплатно.
					+e.wrap
						h6 Оплатить товар после выставления счета можно несколькими способами:
						ul
							li По&nbsp;безналичному расчету, перечислив на&nbsp;р/сч нашей организации;
							li Переводом на&nbsp;банковскую карту. При оплате банковской картой предоставляем дополнительную скидку.
						p С&nbsp;поставкой товара мы&nbsp;предоставляем полный пакет документов: накладные на&nbsp;товар, оригинал договора на&nbsp;поставку и&nbsp;копию сертификата соответствия ГОСТу
						.badge.badge-primary 
							+iconC('attention')
							p Оформить заказ или задать вопросы можно в&nbsp;любое удобное для вас времяпо телефону: #[a(href='tel:88002006160') 8 (800) 200-61-60] или по&nbsp;электронной почте: #[a(href='mailto:sale@uki-kids.ru') sale@uki-kids.ru.]
				.col-lg
					+form-wrap
						h2 Получение статуса оптового клиента
						h5 Персональные данные
						+input('ФИО', 'text', 'ФИО')
	// end sRegistration