include ../../layout/include.pug

include ../../blocks/header/_header.pug
include ../../blocks/topLine/_topLine.pug
include ../../blocks/top-nav/_top-nav.pug 
//- include ../../blocks/mixin-wrap/_mixin-wrap.pug 

+header()
	//- +main-page-nav
	+topLine
	+top-nav()