// start .sPhoto
.sPhoto {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	h2, .section-title {
		margin-bottom: 0;
	}
	h3 {
		margin-bottom: 20px;
		font-size: rem(18);
		font-weight: 700;
	}
	.sorting-row {
		margin-bottom: 20px;
	}
	&__row{
		margin-bottom: 20px;
		--bs-gutter-x: #{rem(20)};
		--bs-gutter-y: #{rem(20)};
	}
	.section-title{
		
	}
	&__col{
		
	}
	&__row--img {
		.sPhoto__content {
			background-size: 48px 48px;
			background-image: url('../img/pic.svg');
		}
		.sPhoto__img-wrap {
			background-repeat: no-repeat;
			&::after {
				position: absolute;
				content: '';
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border-radius: 3px;
				background: linear-gradient(0deg, rgba(13, 69, 135, 0.50) 0%, rgba(13, 69, 135, 0.50) 100%), url('../img/pic.png') ;
				background-repeat: no-repeat;
				background-position: center;
			}
		}
	}
	&__row--video {
		.sPhoto__content {
			background-image: url('../img/video.png');
			background-size: 160px 48px;
			@include media-breakpoint-down(sm) {
				background-size: 90% auto;
			}
		}
		.sPhoto__img-wrap {
			background-position: center;
			background-color: $white;
		}
	}
	&__item{
		display: block;
		padding: 16px;
		border-radius: 5px;
		background: $gray-200 ;
		@include media-breakpoint-down(sm) {
			padding: 8px;
		}
	}
	&__item-top {
		display: flex;
		align-items: center;
		margin-bottom: 20px;
		max-width: 100%;
		@include media-breakpoint-down(sm) {
			margin-bottom: 8px;
		}
		.icon {
			margin-right: 8px;
			font-size: 24px;
			@include media-breakpoint-down(sm) {
				font-size: 16px;
				margin-right: 4px;
			}
		}
		.icon-img {
			fill: transparent;
			stroke: $gray-600;
		}
		.icon-video {
			fill:$gray-600;
		} 
	}
	&__item-name {
		display: flex;
		align-items: center;
		flex-shrink: 0;
		flex-grow: 1;
		max-width: calc(100% - 18px);
		@include media-breakpoint-down(sm) {
			max-width: calc(100% - 14px);
		}
	}
	&__more-btn {
		width: 18px;
		color: #C6CEDF;
		flex-shrink: 0;
		@include media-breakpoint-down(sm) {
			width: 14px;
		}
		.icon {
			max-width: 100%;

		}
	}
	&__title {
		flex-shrink: 0;
		max-width: calc(100% - 50px);
		font-size: 14px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
	&__content {
		@include block(195,253);
		border-radius: 2px;
		overflow: hidden;
		background-position: center;
		background-color: $white;
		background-repeat: no-repeat;
		& > * {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center top;
			}
		}
	}



	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sPhoto

.download-row {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	padding: 15px 20px;
	border-radius: 5px;
	border: 1px solid $gray-200;
	background: $gray-200;
	color: $primary;
	@include media-breakpoint-down(md) {
		justify-content: space-between;
		padding: 10px;
	}
	.icon {
		margin-right: rem(16);
		font-size: 33px;
		@include media-breakpoint-down(md) {
			margin-right: rem(0);
		}
	}
	&__caption {
		margin-right: auto;
		font-weight: 500;
		@include media-breakpoint-down(md) {
			font-size: 14px;
			line-height: 1;
			margin: 0 15px;
		}
	}
	&__link {
		text-decoration: underline;
		@include media-breakpoint-down(md) {
			font-size: 14px;
		}
	}
}