@use "sass:math";

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow-up {
	$h: 53;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(52 / #{$h} *1em );
}
.icon-arrows {
	$h: 17;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(16 / #{$h} *1em );
}
.icon-bag {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-basket {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(22 / #{$h} *1em );
}
.icon-card-arrow {
	$h: 17;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(16 / #{$h} *1em );
}
.icon-check {
	$h: 27;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(27 / #{$h} *1em );
}
.icon-checked {
	$h: 16;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(16 / #{$h} *1em );
}
.icon-fb {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-filters {
	$h: 22;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(22 / #{$h} *1em );
}
.icon-geo {
	$h: 16;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(16 / #{$h} *1em );
}
.icon-grid {
	$h: 17;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(17 / #{$h} *1em );
}
.icon-heart {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-instagram {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-list {
	$h: 15;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(17 / #{$h} *1em );
}
.icon-location {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-next {
	$h: 14;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(7 / #{$h} *1em );
}
.icon-profile {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-remove-btn {
	$h: 34;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(34 / #{$h} *1em );
}
.icon-search {
	$h: 17;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(16 / #{$h} *1em );
}
.icon-share {
	$h: 25;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-slider-arrow {
	$h: 17;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(16 / #{$h} *1em );
}
.icon-star {
	$h: 17;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(17 / #{$h} *1em );
}
.icon-telegram {
	$h: 16;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(16 / #{$h} *1em );
}
.icon-tiktok {
	$h: 25;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-truck {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-viber {
	$h: 16;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(16 / #{$h} *1em );
}
.icon-vk {
	$h: 25;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(30 / #{$h} *1em );
}
.icon-vk2 {
	$h: 36;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(36 / #{$h} *1em );
}
.icon-whatsapp {
	$h: 16;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(16 / #{$h} *1em );
}
.icon-youtube {
	$h: 25;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(30 / #{$h} *1em );
}
