@use "sass:math";

.iconC {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.iconC-arrow-down {
	$h: 17;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(16 / #{$h} *1em );
}
.iconC-attention {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.iconC-check {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.iconC-delivery {
	$h: 25;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.iconC-excel {
	$h: 32;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(32 / #{$h} *1em );
}
.iconC-google {
	$h: 36;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(36 / #{$h} *1em );
}
.iconC-mastercard {
	$h: 21;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(28 / #{$h} *1em );
}
.iconC-mir {
	$h: 20;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(69 / #{$h} *1em );
}
.iconC-sUserContent-icon-1 {
	$h: 16;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(16 / #{$h} *1em );
}
.iconC-sUserContent-icon-2 {
	$h: 16;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(16 / #{$h} *1em );
}
.iconC-sUserContent-icon-3 {
	$h: 16;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(16 / #{$h} *1em );
}
.iconC-visa {
	$h: 20;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(59 / #{$h} *1em );
}
.iconC-vk {
	$h: 36;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(36 / #{$h} *1em );
}
.iconC-yandex {
	$h: 36;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(36 / #{$h} *1em );
}
