// start .sSlider
.sSlider {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	--sTPB: #{rem(24)};
	
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}
	.section-title{
		
	}
	&__col{
		
	}
	&__item{
		
	}
	&__slider-wrap {
		position: relative;
	}
	.swiper-slide {
		min-height: 100%;
		height: auto;
	}
	.swiper-button-next, .swiper-button-prev {
		width: 45px;
		height: 45px;
		background-color: #F2F4F7;
		background-image: url('../img/arrow.svg');
	}
	.swiper-button-next {
		right: -10px;
	}
	.swiper-button-prev {
		left: -10px;
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sSlider