mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 МАГАЗИН
			p UKI KiDS&nbsp;&mdash; российский бренд, все коллекции разрабатываются и&nbsp;производятся на&nbsp;фабрике в&nbsp;Ярославле. С&nbsp;2010 года мы&nbsp;производим зимнюю и&nbsp;демисезонную одежду для детей из&nbsp;мембранной ткани.z
			p UKI KiDS&nbsp;&mdash; это не&nbsp;только верхняя одежда, но&nbsp;и&nbsp;большой ассортимент аксессуаров и&nbsp;дополняющих элементов: шапки, краги, термобелье, одежда из&nbsp;флиса. Полный комплект для холодного времени года.
	// end sAbout