extends ../layout/main.pug

include ../blocks/topLine/_topLine.pug
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug

include ../blocks/sUserContent/_sUserContent.pug

block variables
	- let  mainPage= '' 
	- let  bg= '07-profile.jpg'

block title
	- let  title= 'Личный кабинет'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		+page-head(title, title)
		+sUserContent(1, true)
			.row
				.col-lg
					+accInfo()
				.col-lg
				.col-lg
	+parts('footer')
      



