mixin sPoints(data)
	// start sPoints
	+b.SECTION.sPoints.section#sPoints&attributes(attributes)
		.container
			+e.row.row
				+e.col.col-6.col-sm-4.col-lg-2
					+e.item
						+img('img/points-1.png')
						+e.title Одежда растет вместе с ребенком
				+e.col.col-6.col-sm-4.col-lg-2
					+e.item
						+img('img/points-2.png')
						+e.title Надежная защита от&nbsp;непогоды
				+e.col.col-6.col-sm-4.col-lg-2
					+e.item
						+img('img/points-3.png')
						+e.title Удобные лекала
				+e.col.col-6.col-sm-4.col-lg-2
					+e.item
						+img('img/points-4.png')
						+e.title Собственное производство
				+e.col.col-6.col-sm-4.col-lg-2
					+e.item
						+img('img/points-5.png')
						+e.title Яркие цвета и уникальные принты
				+e.col.col-6.col-sm-4.col-lg-2
					+e.item
						+img('img/points-6.png')
						+e.title Доставка по&nbsp;всей России
	// end sPoints