mixin sUserContent(activeBtn=1)
	// start sUserContent
	+b.sUserContent.section#sUserContent&attributes(attributes)
		.container
			+e.slider.swiper.def-swiper-js
				.swiper-wrapper
					+e.slide.swiper-slide
						+e.btn(href='#' class=(activeBtn == 1) ? 'active' : '')
							+icon('profile')
							| Профиль
					+e.slide.swiper-slide
						+e.btn(href='#' class=(activeBtn == 2) ? 'active' : '')
							+icon('orders')
							| Заказы
					+e.slide.swiper-slide
						+e.btn(href='#' class=(activeBtn == 3) ? 'active' : '')
							+icon('card')
							| Доставка и оплата
					+e.slide.swiper-slide
						+e.btn(href='#' class=(activeBtn == 4) ? 'active' : '')
							+icon('gallery')
							| Фото и видеоматериалы
					+e.slide.swiper-slide
						+e.btn(href='#' class=(activeBtn == 5) ? 'active' : '')
							+icon('document')
							| Условия сотрудничества
			mixin accInfo()
				+b.account-info&attributes(attributes)
					+e.personality
						+e.img-wrap: +img(`img/avatar.jpg`, 'bg')
						h6 Алексей Пименов
						a(href="mailto:pimenov.al@gmail.com") pimenov.al@gmail.com 
					+e.link-wrap
						+e.link(href='#')
							+e.icon-wrap.active
								+iconC('sUserContent-icon-1')
							| Уведомления
						+e.link(href='#')
							+e.icon-wrap
								+iconC('sUserContent-icon-2')
							| Настройки
						+e.link(href='#')
							+e.icon-wrap
								+iconC('sUserContent-icon-3')
							| Техподдержка
					+e.log-out
						a(href="#")
							| Выйти из аккаунта
							+icon('login') 
			block
	// end sUserContent