// start .sUserContent
.sUserContent {
	--sPT: #{rem(0)};
	--sPB: #{rem(20)};
	// --sTPB: #{rem()};
	&--settings {
		padding-bottom: 48px;
		@include media-breakpoint-up(lg) {
			--sPB: #{rem(45)};
		}
	}
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}
	.section-title{
		
	}
	&__col{
		
	}
	&__item{
		
	}
	&__btn {
		border-radius: 5px;
		background-color: $gray-200;
		color: $gray-600;
		display: flex;
		align-items: center;
		justify-content: center;
		border: none;
		padding: rem(7) rem(12);
		font-size: rem(12);
		@include media-breakpoint-up(xl) {
			padding: rem(9) rem(12);
		}
		@include media-breakpoint-up(xxl) {
			font-size: rem(14);
		}
		&:hover, &.active {
			background-color: #AEBF06;
			color: #fff;
			font-weight: 700;
		}
		.icon {
			flex: 0 0 auto;
			font-size: rem(16);
			fill: none;
			stroke: currentColor;
			stroke-width: rem(2);
			margin-right: rem(10);
		}
	}
	
	&__slider {
		--gutter-x: #{rem(16)};
		--slides-on-screen: 1;
		margin-right: calc(var(--gutter-x) * -1);
		overflow: visible;
		margin-bottom: rem(20);
		@include media-breakpoint-up(sm) {
			--slides-on-screen: 2;
		}
		@include media-breakpoint-up(lg) {
			--slides-on-screen: 4;
			--gutter-x: #{rem(20)};
			margin-bottom: rem(30);
		}
		@include media-breakpoint-up(xl) {
			--slides-on-screen: 5;
		}
		@include media-breakpoint-up(xl) {
			overflow: hidden;
		}
	}
	&__slide {
		margin-right: var(--gutter-x);
		width: auto;
		@include media-breakpoint-up(sm) {
			width: calc(100% / var(--slides-on-screen) - var(--gutter-x));
		}
	}
	&__form-row {
		--bs-gutter-y: #{rem(24)};
		@include media-breakpoint-up(xxl) {
			--bs-gutter-x: #{rem(95)};
		}
	}
	.form-wrap {
		@include media-breakpoint-up(md) {
			max-width: rem(350);
		}
		h5 {
			margin-bottom: rem(28.600);
		}
		&__input {
			border-color: rgba(9, 74, 186, 0.08);
			padding-right: rem(34);
			background-position: 98%;
			background-repeat: no-repeat;
			background-size: 1.5rem;
			padding-right: 2.5rem;
			background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 22.75C6.07 22.75 1.25 17.93 1.25 12C1.25 6.07 6.07 1.25 12 1.25C17.93 1.25 22.75 6.07 22.75 12C22.75 17.93 17.93 22.75 12 22.75ZM12 2.75C6.9 2.75 2.75 6.9 2.75 12C2.75 17.1 6.9 21.25 12 21.25C17.1 21.25 21.25 17.1 21.25 12C21.25 6.9 17.1 2.75 12 2.75Z' fill='%23E5E5E5'/%3E%3Cpath d='M10.58 15.5801C10.38 15.5801 10.19 15.5001 10.05 15.3601L7.22 12.5301C6.93 12.2401 6.93 11.7601 7.22 11.4701C7.51 11.1801 7.99 11.1801 8.28 11.4701L10.58 13.7701L15.72 8.6301C16.01 8.3401 16.49 8.3401 16.78 8.6301C17.07 8.9201 17.07 9.4001 16.78 9.6901L11.11 15.3601C10.97 15.5001 10.78 15.5801 10.58 15.5801Z' fill='%23E5E5E5'/%3E%3C/svg%3E%0A");
			&:focus {
				border-color: #90a1c7;
			}
			&.is-valid {
				border-color: $green;
			}
			&.is-invalid {
				border-color: $red;
			}
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sUserContent

.account-info {
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	background-color: $primary;
	color: #fff;
	height: 100%;
	&--terms {
		@include media-breakpoint-up(lg) {
			margin-right: 86px;
		}
	}
	&--notice {
		margin-bottom: 30px;
		@include media-breakpoint-up(md) {
			margin-bottom: 0;
		}
		@include media-breakpoint-up(lg) {
			margin-bottom: 24px;
			margin-right: 24px;
		}
	}
	&--settings {
		margin-bottom: 30px;
		@include media-breakpoint-up(lg) {
			margin-right: 24px;
		}
	}	
	@include media-breakpoint-up(lg) {
		min-width: rem(310);
	}
	&__personality {
		display: flex;
		flex-direction: column;
		align-items: center;
		border-bottom: 1px solid rgba(255, 255, 255, 0.10);
		padding: rem(16);
		@include media-breakpoint-up(lg) {
			padding: rem(40) rem(20) rem(17.600);
		}
		h6 {
			color: #fff;
			font-weight: 600;
			line-height: 1.38;
			margin-bottom: rem(2);
		}
		a {
			color: #fff;
			font-size: rem(14);
			line-height: 1.3;
			&:hover {
				color: $accent;
			}
		}
	}
	&__img-wrap {
		@include block(1,1);
		width: 100%;
		max-width: rem(80);
		border-radius: 50%;
		overflow: hidden;
		margin-bottom: rem(12);
	}
	&__link-wrap {
		display: flex;
		flex-direction: column;
		padding: rem(16);
		@include media-breakpoint-up(lg) {
			padding: rem(20);
		}
	}
	&__link {
		display: flex;
		align-items: center;
		color: #fff;
		font-size: rem(14);
		padding: rem(9) 0;
		line-height: 1.37;
		margin-bottom: rem(10);
		@include media-breakpoint-up(lg) {
			font-size: rem(16);
		}
		&:hover {
			color: $accent;
		}
		.iconC {
			font-size: rem(16);
		}
	} 
	&__icon-wrap {
		position: relative;
		flex: 0 0 auto;
		margin-right: rem(16);
		&:before {
			content: '';
			position: absolute;
			display: block;
			width: rem(6);
			height: rem(6);
			border-radius: 50%;
			background-color: #AEBF06;
			top: rem(5);
			right: rem(1);
			opacity: 0;
		}
		&.active {
			&:before {
				opacity: 1;
			}
		}
	}
	&__log-out {
		margin-top: auto;
		border-top: 1px solid rgba(255, 255, 255, 0.10);
		a {
			padding: rem(16);
			font-size: rem(14);
			display: flex;
			align-items: center;
			color: #fff;
			font-weight: 500;
			line-height: 1.37;
			@include media-breakpoint-up(lg) {
				padding: rem(15.5) rem(20);
				font-size: rem(16);
			}
			&:hover {
				color: $accent;
			}
			.icon {
				font-size: rem(16);
				fill: none;
				stroke-width: rem(2);
				stroke: currentColor;
				margin-left: rem(6);
				flex: 0 0 auto;
			}
		}
	}
}