
// start .topLine
.topLine {
	--sPT: #{rem(0)};
	--sPB: #{rem(0)};
	// --sTPB: #{rem()};
	&__row{
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: var(--bs-gutter-x);
		
	}
	&__menu-row {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding: 10px 0;
		font-size: 14px;
		color: $gray-800;
		border-bottom: 1px solid rgba(32, 67, 143, 0.08);
	}
	&__btn {
		padding: 8px 12px;
		text-transform: uppercase;
		color: $gray-800;
		border-radius: 5px;
		background: $green;
	}
	&__info-row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		padding: 16px 0;
		@include media-breakpoint-up(lg) {
			justify-content: normal;
		}
	}
	&__logo {
		display: block;
		width: 100px;
		margin-right: rem(15);
		img {
			max-width: 100%;
		}
		@include media-breakpoint-up(sm) {
			margin-right: rem(36);
			width: 160px;
		}
	}
	&__name {
		margin-right: 30px;
		max-width: 275px;
		color: #253251;
		font-size: 14px;
		font-weight: 700;
		@include media-breakpoint-up(xl) {
			margin-right: 120px;
		}
		span {
			display: block;
			color: $primary;
			font-size: 12px;
			font-weight: 400;
		}
	}
	&__contacts {
		padding-left: 24px;
		@include media-breakpoint-up(lg) {
			margin-right: auto;
		}
	}
	&__tel {
		position: relative;
		font-size:rem(14);
		font-weight: 700;
		@include media-breakpoint-up(sm) {
			font-size:rem(20);
		}
		&::before {
			position: absolute;
			content: url('../img/telephone.svg');
			top: 0;
			left: -24px;
		}
	}
	&__schedule {
		color: $gray-800;
		font-size: 12px;
	}
	&__callback {
		color: $primary;
		// font-family: Roboto;
		text-decoration-line: underline;
	}
	&__navbar {
		position: fixed;
		bottom: 0;
		left: 0;
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 100%;
		padding-block: 20px;
		margin-bottom: 0;
		list-style-type: none;
		background-color: rgba($white, .9);
		z-index: 10;
		box-shadow: 0 -1px 6px 0 rgba(0,0,0,.12);
		@include media-breakpoint-up(lg) {
			position: static;
			justify-content: normal;
			box-shadow: none;
			width: auto;
			background-color: none;
		}
	}
	&__navbar-item {
		&:not(:last-child) {
			margin-right: 16px;
		}
	}
	&__navbar-link {
		color: #777777;
		.icon {
			font-size: 24px;
		}
		.icon-bag, .icon-profile {
			fill: none;
			stroke: #777777;
			stroke-width: 1.5;
		}
	}
	.section-title{
		
	}
	&__col{

	}
	&__item{

	}
	&__slide{
		height: auto;
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

} // end.topLine

.top-menu {
	display: flex;
	margin-right: 28px;
	margin-bottom: 0;
	list-style-type: none;
	&__item {
		&:not(:last-child) {
			margin-right: rem(40);
		}
	}
	&__link {
		color: inherit;
	}
}