mixin menu-toggle()
	+b.toggle-menu-mobile--js.d-lg-none
		span
mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			+e.container
				+e.row.row
					.col-auto
						+e.btn.BUTTON.btn.btn-primary Каталог товаров
							+iconC('arrow-down')
					.col-auto.col-lg.order-lg-0.order-last
						.menu-mobile.menu-mobile--js
							.menu-mobile__inner
								+mnu()
								.topLine__menu-row.d-lg-none
									+b.top-menu.UL
										+e.item.LI
											+e.link(href="#") О компании
										+e.item.LI
											+e.link(href="#") Возможности магазина
										+e.item.LI
											+e.link(href="#") Оплата и доставка
										+e.item.LI
											+e.link(href="#") Напишите нам
									.topLine__btn(href='#') ОПТОВИКАМ
					.col
						+search
	// end top-nav