include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
include components/menu.pug
include components/icon.pug
include components/breadcrumb.pug
include components/pugination.pug
include components/soc.pug
include components/pic.pug
include components/img.pug
include components/btn.pug

include components/ddgroup.pug

mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+icon('chevron-left')
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon('chevron-right')
//- /arrow for swiper-slider

mixin ie11()
	//- modernizer and for ie11
	 
	<!--[if lt IE 11]><p   class="browsehappy container">К сожалению, вы используете устаревший браузер. Пожалуйста, <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>, чтобы улучшить производительность, качество отображаемого материала и повысить безопасность.</p><![endif]-->

mixin addblock()
	+b.addBlock
		+e.btn--minus(type="button" disabled)
		input(type="text" value="1"  inputmode='numeric')
		+e.btn--plus(type="button")



mixin search()
	+b.search-block
		form
			input(type="text" placeholder="Поиск по сайту" inputmode='search')
			+e.buttons
				button 
					+icon("search")
				button 
					+icon("arrows")

mixin page-head(t,...items)
	+b.page-head
		- let l = items.length
		.container
			+breadcrumb('Главная',...items)
			if t
				h1.h2= t

mixin parts(elem)
	script.
		addBlock(`#{elem}`)
	div(id=`${elem}Wrap`)

mixin mainPageNav()
	+b.main-page-nav
		//- .container
		//- 	.row
		//- 		.col-auto: a(href="#") О компании 
		//- 		.col-auto: a(href="#") Возможности магазина
		//- 		.col-auto: a(href="#") Оплата и доставка
		//- 		.col-auto: a(href="#") Напишите нам
		//- 		.col-auto
		//- 			a(href="#") ОПТОВИКАМ

mixin sortingRow(h2="Фото и видеоматериалы",title='Тип файла',filter)
	+b.sorting-row
				+b.section-title
					h2= h2
				+e.sort
					+e.sort-title Сортировка:
					+e.sort-wrap
						+e.sort-btn--js.btn.BUTTON= title
							+img('img/caret-down.svg')
						+e.sort-dropdown.UL
							+e.sort-item.LI По&nbsp;цене
							+e.sort-item.LI По&nbsp;популярности
							+e.sort-item.LI По&nbsp;рейтингу
				if filter
					+e.filter-btn--js.btn.BUTTON.d-lg-none
							+icon('filters')
				+e.view-btns.d-none.d-md-flex
					+e.view-btn.btn.BUTTON
						+icon('list')
					+e.view-btn.btn.BUTTON
						+icon('grid')

