// start .sOrders
.sOrders {
	--sPT: #{rem(18)};
	--sPB: #{rem(0)};
	// --sTPB: #{rem()};
	
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}
	h4 {
		margin-bottom: rem(16);
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(30);
		}
	}
	.tabs {
		&__caption {
			display: flex;
			align-items: center;
			margin-bottom: rem(20);
			@include roww('20px', '', 'm');
			@include media-breakpoint-up(lg) {
				--bs-gutter-x: #{rem(40)};
				margin-bottom: rem(28.400);
			}
		}
		&__btn {
			@include mt;
			font-size: rem(16);
			color: $gray-600;
			padding-bottom: rem(8);
			border-bottom: 1px solid transparent;
			line-height: 1.38;
			@include media-breakpoint-up(lg) {
				font-size: rem(18);
			}
			&:hover, &.active {
				color: $primary;
				border-bottom-color: $primary;
			}
			&.active {
				font-weight: 700;
			}
		}
	}
	&__table-wrap {
		margin-bottom: rem(18);
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(35);
		}
		@include media-breakpoint-down(lg) {
			overflow-x: auto;
			overflow-y: hidden;
		}
	}
	table {
		width: 100%;
		min-width: rem(840);
		th {
			font-weight: 700;
			color: #333;
			padding: 0 rem(5) rem(16);
			font-size: rem(14);
			@include media-breakpoint-up(lg) {
				font-size: rem(16);
				padding: 0 rem(5) rem(28.400);
			}
			&:nth-child(1) {
				width: rem(228);
			}
			&:nth-child(2) {
				width: rem(228);
			}
			&:nth-child(3) {
				width: rem(228);
			}
			&:nth-child(4) {
				width: rem(188);
			}
			&:nth-child(5) {
				width: rem(228);
			}
		}
		@include media-breakpoint-down(lg) {
			tr {
				&:first-child {
					.sOrders__action-dropdown {
						left: unset;
						right: 0;
					}
				}
				&:last-child, &:nth-last-child(2) {
					.sOrders__action-dropdown {
						left: unset;
						right: 0;
						top: unset;
						bottom: 100%;
					}
				}
			}
		}
		td {
			font-size: rem(14);
			border-bottom: 1px solid rgba(9, 74, 186, 0.08);
			padding: rem(8) rem(5);
			@include media-breakpoint-up(lg) {
				font-size: rem(16);
				padding: rem(19.800) rem(5);
			}
		}
	}
	&__order {
		display: flex;
		align-items: center;
		.icon {
			font-size: rem(16);
			flex: 0 0 auto;
			margin-left: rem(10);
		}
	}
	&__price {
		display: flex;
		align-items: center;
		color: #333;
		font-weight: 700;
		width: 100%;
		max-width: rem(150);
		span {
			display: block;
			color: $gray-600;
			font-weight: 400;
		}
		.icon {
			font-size: rem(16);
			flex: 0 0 auto;
			margin-left: rem(10);
			margin-left: auto;
		}
	}
	&__status {
		font-size: rem(14);
		color: #333;
		line-height: 1.35;
		padding: rem(5) rem(12);
		border-radius: 2px;
		width: 100%;
		max-width: rem(110);
		text-align: center;
		background-color: var(--bgColor, #E5E5E5);
		color: var(--textColor, #333);
	}
	&__download {
		color: $gray-600;
		line-height: 1.37;
		display: flex;
		align-items: center;
		max-width: max-content;
		&:hover {
			color: $primary;
		}
		.icon {
			flex: 0 0 auto;
			font-size: rem(24);
			margin-right: rem(10);
		}
	}
	&__action {
		--color: #{$gray-600};
		display: block;
    max-width: max-content;
    padding: rem(7) rem(3);
		position: relative;
    cursor: pointer;
		&:hover {
			--color: #{$primary};
		}
		span {
			@include mt;
			width: rem(4);
			height: rem(4);
			border-radius: 50%;
			background-color: var(--color);
			margin: 0 rem(7);
			position: relative;
			color: var(--color);
			display: block;
			&:before, &:after {
				content: '';
				position: absolute;
				display: block;
				width: rem(4);
				height: rem(4);
				border-radius: 50%;
				background-color: currentColor;
				top: 0;
			}
			&:before {
				left: rem(-7);
			}
			&:after {
				right: rem(-7);
			}
		}
	}
	&__action-dropdown {
		@include mt;
		position: absolute;
		right: 0;
		top: 100%;
		border-radius: 5px;
		background-color: #FFF;
		box-shadow: -1px 4px 8px 0px rgba(9, 74, 186, 0.08);
		padding: rem(8);
		opacity: 0;
		pointer-events: none;
		z-index: 10;
		@include media-breakpoint-up(lg) {
			left: 0;
			right: unset;
		}
		&.active {
			opacity: 1;
			pointer-events: all;
		}
		a {
			display: block;
			font-size: rem(14);
			line-height: 1.35;
			padding: rem(5) rem(20);
			border-radius: 2px;
			&:not(:last-child) {
				margin-bottom: rem(8);
			}
		}
	}
	&__order-btn {
		background-color: #F25F8F;
		color: #fff;
		text-align: center;
		&:hover, &:active {
			background-color: #ea6f98;
		}
	}
	&__reorder-btn {
		background-color: $gray-100;
		color: #333;
		text-align: center;
		&:hover, &:active {
			background-color: $gray-200;
		}
	}
	&__edit-btn {
		border: 1px solid #D9D9D9;
		color: $gray-600;
		text-align: center;
		padding: rem(4) rem(19) !important;
		&:hover, &:active {
			background-color: #D9D9D9;
		}
	}
	&__show-count {
		font-size: rem(14);
		@include roww('10px', '', 'm');
		a {
			color: #333;
			&:hover {
				color: $primary;
			}
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sOrders