// start .sSupport
.sSupport {
	// --sPT: #{rem()};
	--sPB: #{rem(0)};
	--sTPB: #{rem(20)};
	@include media-breakpoint-down(lg) {
		--sPT: #{rem(24)};
	}
	.tabs__caption {
		justify-content: normal;
	}
	.tabs__btn {
		&:not(:last-child) {
			margin-right: 40px;
		}
	}
	h3 {
		font-size: rem(20);
	}
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}
	.section-title{
		
	}
	&__col{
		
	}
	&__item{
		
	}
	form {
		max-width: 500px;
	}
	.form-wrap__title {
		margin-bottom: 30px;
		color: $primary;
		font-size: rem(20);
	}
	.form-wrap__input[type="file"] {
		color: transparent;
	}
	.form-wrap__input[type="file"]::-webkit-file-upload-button {
		visibility: hidden;
	}
	.form-wrap__input[type="file"]::before {
		content: 'Добавить файл';
		color: #3A3A3A;
		display: inline-block;
		border-radius: 5px;
		background: #F2F4F9;
		padding: 8px 12px;
		outline: none;
		-webkit-user-select: none;
		cursor: pointer;
		@include media-breakpoint-down(sm) {
			width: 100%;
			text-align: center;
		}
	}
	.form-wrap__btn-row {
		display: flex;
		@include media-breakpoint-down(sm) {
			flex-direction: column;
		}
		.form-wrap__input-wrap{
			margin-top: 0;
			padding-bottom: 0;
		}
		.form-wrap__input {
			flex-shrink: 0;
			margin-right: 16px;
			font-size: 16px;
			padding: 0;
			width: 141px;
			height: 38px;
			border: none;
			@include media-breakpoint-down(sm) {
				width: 100%;
			}
	
		}
		.form-wrap__submit-btn {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-shrink: 0;
			width: 141px;
			height: 38px;
			padding: 0;
			font-size: 16px;
			background-color: #AEBF06;
			font-weight: 700;
			&:hover {
				background-color: #def03b;
			}
			@include media-breakpoint-down(sm) {
				margin-top: 15px;
				width: 100%;
			}
		}
	}
	.file-name {
		max-width: 200px;
		overflow: hidden;
		text-overflow: ellipsis; 
		white-space: nowrap;
	}
	.dd-group__item {
		border-radius: 5px;
		border: 1px solid rgba(9, 74, 186, 0.08);
		&:not(:last-child) {
			margin-bottom: 10px;
		}
		&.active {
			background: $gray-200;
			.dd-group__head {
				padding-bottom: 10px;
				color: $primary;
				&::after {
					transform: rotate(180deg);
				}
			}
		}
	}
	.dd-group__head {
		display: flex;
		justify-content: space-between;
		padding: 20px;
		color: #333;
		font-size: rem(18);
		font-weight: 600;
		cursor: pointer;
		@include media-breakpoint-down(sm) {
			padding: 10px;
			font-size: 16px;
			line-height: 1.2;
		}
		&::after {
			content: '';
			width: 24px;
			height: 24px;
			flex-shrink: 0;
			margin-left: 5px;
			background-image: url('../img/dd-arrow.svg');
			background-repeat: no-repeat;
			background-size: cover;
			@include mt;
		}
	}
	.dd-group__content {
		padding: 0 20px 20px;
		@include media-breakpoint-down(sm) {
			padding: 0 10px 10px;
		}
		p {
			font-size:rem(18);
			font-weight: 400;
			line-height: 150%;
			@include media-breakpoint-down(sm) {
				font-size:16px;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.dd-group__content {
		&:not(.active) {
			display: none;
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sSupport