mixin sTerms(data)
	// start sTerms
	+b.SECTION.sTerms.section#sTerms&attributes(attributes)
		.container
			+b.section-title
				h2 Условия сотрудничества
			+e.list-title Основные условия заказа:
			+e.list.UL
				+e.list-item.LI Мы&nbsp;работаем исключительно с&nbsp;детскими оптовыми, розничными и&nbsp;интернет-магазинами на&nbsp;условиях соблюдения РРЦ рекомендованной розничной цены с&nbsp;минимальным уровнем наценки&nbsp;70% и&nbsp;НЕ сотрудничаем с&nbsp;организаторами совместных закупок. Просьба указывать при заказе адрес магазина либо предоставлять ссылку на&nbsp;интернет-магазин.
				+e.list-item.LI Продаем исключительно размерными рядами.
				+e.list-item.LI Минимальная сумма закупки 50000&nbsp;рублей.
				+e.list-item.LI Скидки от&nbsp;объема приведены в&nbsp;прайс-листе.
			+b.attention-block
				+iconC('attention')
				| Мы&nbsp;осуществим доставку детской верхней одежды ТМ&nbsp;UKI KIDS в&nbsp;Москву и&nbsp;Московскую область , а&nbsp;также в&nbsp;регионы&nbsp;РФ любой транспортной компанией по&nbsp;вашему выбор или ж/д транспортом. Доставка до&nbsp;ТК бесплатно.
			+e.list-title Оплатить товар после выставления счета можно несколькими способами:
			+e.list.UL
				+e.list-item.LI По&nbsp;безналичному расчету, перечислив на&nbsp;р/сч нашей организации;
				+e.list-item.LI Переводом на&nbsp;банковскую карту. При оплате банковской картой предоставляем дополнительную скидку.
			p С&nbsp;поставкой товара мы&nbsp;предоставляем полный пакет документов: накладные на&nbsp;товар, оригинал договора на&nbsp;поставку и&nbsp;копию сертификата соответствия ГОСТу
			+b.attention-block
				+iconC('attention')
				| Оформить заказ или задать вопросы можно в&nbsp;любое удобное для вас времяпо телефону: #[a(href="tel:78002006160") 8 (800) 200-61-60] или по&nbsp;электронной почте: #[a(href="mailto:sale@uki-kids.ru") sale@uki-kids.ru].

	// end sTerms